<footer>
    <div class="container">
        <div class="footer-nav-container">
            <ul class="footer-nav">
                <h5>Jay App</h5>
                <li><a href="/">Start</a></li>
                <li><a href="#">Hilfe & Tipps</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <ul class="footer-nav">
                <h5>Kontakt</h5>
                <li><a href="#">Kontaktformular</a></li>
                <li><a href="#">hey@getjay.com</a></li>
                <li><a href="#" target="_blank">LinkedIn</a></li>
            </ul>
            <ul class="footer-nav">
                <h5>Rechtliches</h5>
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Datenschutzerklärung</a></li>
            </ul>
        </div>
        <div class="footer-logo">
        </div>
    </div>
</footer>
